https://adventofcode.com/2024/day/6

In [69]:
import pandas as pd
import numpy as np
input_test = """....#.....
.........#
..........
..#.......
.......#..
..........
.#..^.....
........#.
#.........
......#..."""

with open('data/day_06.txt') as txtfile:
    input_day = txtfile.read()
    
PROD = 0
input_data = input_day if PROD else input_test
print(input_data[0:200])
df = pd.DataFrame([list(line) for line in input_data.splitlines()])
df

....#.....
.........#
..........
..#.......
.......#..
..........
.#..^.....
........#.
#.........
......#...

   0  1  2  3  4  5  6  7  8  9
0  .  .  .  .  #  .  .  .  .  .
1  .  .  .  .  .  .  .  .  .  #
2  .  .  .  .  .  .  .  .  .  .
3  .  .  #  .  .  .  .  .  .  .
4  .  .  .  .  .  .  .  #  .  .
5  .  .  .  .  .  .  .  .  .  .
6  .  #  .  .  ^  .  .  .  .  .
7  .  .  .  .  .  .  .  .  #  .
8  #  .  .  .  .  .  .  .  .  .
9  .  .  .  .  .  .  #  .  .  .

# PART 1

In [50]:
df = pd.DataFrame([list(line) for line in input_data.splitlines()])
pos_init = (df.index[(~df.isin(["#", "."])).sum(axis=1).astype(bool)][0],
            df.columns[(~df.isin(["#", "."])).sum().astype(bool)][0])
r, c = pos_init
next_obj_idx = df.loc[0:r, c].loc[lambda x: x.eq("#")].index.tolist()
rotations = 0
n = 0
visited = []
while next_obj_idx:
    new_row = max(next_obj_idx) + 1
    for i in range(max(r, new_row), min(r, new_row), -1):
        df.loc[i, c] = n
        n += 1
        visited.append((i, c, rotations % 4))
    
    r, c = (len(df) - c - 1, new_row)
    df.values[:,:] = np.rot90(df)
    rotations += 1
    next_obj_idx = df.loc[0:r, c].loc[lambda x: x.eq("#")].index.tolist()

new_row = 0
for i in range(max(r, new_row), min(r, new_row)-1, -1):
    df.loc[i, c] = n
    visited.append((i, c, rotations % 4))
    n += 1

df.values[:,:] = np.rot90(df, rotations % 4)

visited_part_1_dicc = df.stack().loc[lambda x: ~x.isin([".", "^", "#"])].sort_values().to_dict()
visited_part_1 = list(visited_part_1_dicc.values())
if pos_init in visited_part_1:
    visited_part_1.remove(pos_init)
print((~df.isin([".", "#", "^"])).sum().sum())

41

In [68]:
pd.DataFrame(np.rot90(df, k=4))

   0   1   2   3   4   5   6   7   8  9
0  .   .   .   .   #   .   .   .   .  .
1  .   .   .   .   5   6   7   8   9  #
2  .   .   .   .   4   .   .   .  10  .
3  .   .   #   .   3   .   .   .  11  .
4  .   .  22  23  24  25  26   #  12  .
5  .   .  21   .   1   .  27   .  13  .
6  .   #  20  19  18  17  28  15  14  .
7  .  36  37  38  39  40  41  42   #  .
8  #  35  34  33  32  31  30  43   .  .
9  .   .   .   .   .   .   #  44   .  .

# PART 2