https://adventofcode.com/2023/day/13

In [1]:
import pandas as pd

In [63]:
input_test = """#.##..##.
..#.##.#.
##......#
##......#
..#.##.#.
..##..##.
#.#.##.#.

#...##..#
#....#..#
..##..###
#####.##.
#####.##.
..##..###
#....#..#"""

with open('data/day_13.txt') as txtfile:
    input_day = txtfile.read()
    
PROD = 1
input_data = input_day if PROD else input_test
print(input_data[0:200])

....#....#.
..##.####.#
####.####.#
####..##..#
######..###
....##..##.
.....####..
####......#
..##.####.#
..##..##..#
..#.#.##.#.
###.##..##.
#.#.#.##.#.
####.####.#
#####.##.##

.#......##.#.#...
.

# Part I

In [73]:
def get_left_mirror_columns(df):
    for i in range(df.shape[1]-1):
        if df[i].eq(df[i+1]).all():
            d = 0
            for l, r in zip(range(i, -1, -1), range(i+1, df.shape[1], 1)):
                if not df[l].eq(df[r]).all():
                    d+=1
                    break
            if d==0:
                return i + 1
    return 0

splitted_lines = [pd.DataFrame([list(l) for l in block.splitlines()]) for block in input_data.split("\n\n")]
sum(get_left_mirror_columns(df) + (100 * get_left_mirror_columns(df.T)) for df in splitted_lines)

35538

# Part 2

In [75]:
def get_left_mirror_columns_fix(df):
    old_i = get_left_mirror_columns(df)
    for i in range(df.shape[1]-1):
        if df[i].ne(df[i+1]).sum() <= 1:
            d = 0
            smudge = 0
            for l, r in zip(range(i, -1, -1), range(i+1, df.shape[1], 1)):
                if df[l].ne(df[r]).sum()==1:
                    smudge += 1
                    if smudge > 1:
                        break
                elif df[l].ne(df[r]).sum()>1:    
                    d+=1
                    break
            if (d==0) & (smudge <= 1) & (old_i != i +1):
                return i + 1
    return 0

splitted_lines = [pd.DataFrame([list(l) for l in block.splitlines()]) for block in input_data.split("\n\n")]
sum(get_left_mirror_columns_fix(df) + (100 * get_left_mirror_columns_fix(df.T)) for df in splitted_lines)

30442

In [ ]:
# Too high: 48400
# Too low: 22133

In [55]:
get_left_mirror_columns_fix(b), get_left_mirror_columns_fix(b.T)

(2, 0)

In [56]:
get_left_mirror_columns(b), get_left_mirror_columns(b.T)

(2, 0)

In [54]:
b = splitted_lines[77]
b

   0  1  2  3  4  5  6  7  8  9  10
0   .  .  .  .  #  .  .  .  .  #  #
1   #  #  #  #  .  .  #  .  #  .  .
2   #  #  #  #  #  .  .  .  .  #  #
3   #  .  .  #  #  .  .  .  #  .  #
4   #  .  .  #  .  .  .  .  .  #  #
5   #  .  .  #  .  .  #  .  .  #  #
6   .  .  .  .  #  .  #  .  #  .  .
7   .  .  .  .  #  #  #  .  #  #  #
8   .  .  .  .  .  .  #  .  #  #  #
9   #  #  #  #  #  #  #  .  .  #  #
10  #  #  #  #  #  #  .  #  .  #  #